[user]
	name = Philip Champon
	email = philip.champon@droitfintech.com
	signingkey = 83C50E6471383009
[difftool]
	#prompt = true
[diff]
	tool = nvimdiff
[core]
	editor = nvim
	excludesfile = /Users/philipchampon/.gitignore_global
	autocrlf = false
[merge]
	tool = nvimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	show-branch = auto
[alias]
	co = checkout
	up = pull
	unstage = reset HEAD --
	last = log -1 HEAD
	diff-staged = diff --cached
	short-log = log --abbrev-commit --pretty=oneline
[github]
	user = flah00
[merge "nvimdiff"]
[push]
	default = current
[secrets]
	yml = /tmp/test
[init]
	defaultBranch = main
[pull]
	rebase = false
