[submodule "modules/heroku_bash_completion"]
	path = modules/heroku_bash_completion
	url = https://github.com/rafmagana/heroku_bash_completion.git
[submodule "modules/completion-ruby"]
	path = modules/completion-ruby
	url = https://github.com/mernen/completion-ruby.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/git/git
