[user]
	name = Philip Champon
	email = philip@adaptly.com
[core]
	editor = /opt/local/bin/vim
	excludesfile = /Users/flah/.gitignore_global
  autocrlf = false
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	show-branch = auto
[alias]
	co = checkout
	up = pull
	unstage = reset HEAD --
	last = log -1 HEAD
	diff-staged = diff --cached
[github]
	user = flah00
[merge "vimdiff"]
	path = /opt/local/bin/vimdiff
